.header {
    box-sizing: border-box;
    background-color: #061424;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 20px 200px;
    display: flex;
  }
  
  @media (width <= 991px) {
    .header {
      padding: 20px 40px;
    }
  }
  
  @media (width <= 640px) {
    .header {
      flex-direction: column;
      gap: 15px;
      height: auto;
      padding: 15px 20px;
    }
  }
  
  .logo {
    color: #fff;
    font-family: Manrope, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 141%;
  }
  
  .navigation {
    align-items: center;
    gap: 24px;
    display: flex;
  }
  
  @media (width <= 640px) {
    .navigation {
      display: none;
    }
  }
  
  .navLink {
    color: #fff;
    font-family: Manrope, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  
  .navLinkActive {
    color: #ded651;
    font-family: Manrope, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  