.newsContainer {
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    display: flex;
  }
  
  .contentWrapper {
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 100%;
    display: flex;
  }
  
  @media (width <= 991px) {
    .contentWrapper {
      max-width: 100%;
    }
  }
  
  .mainContent {
    flex-grow: 1;
    flex-shrink: 1;
    width: 1062px;
    min-width: 240px;
  }
  
  @media (width <= 991px) {
    .mainContent {
      max-width: 100%;
    }
  }
  
  @media (width <= 991px) {
    .dividerImage {
      max-width: 100%;
    }
  }
  
  .articlesSection {
    width: 100%;
    max-width: 1134px;
    margin-top: 30px;
  }
  
  @media (width <= 991px) {
    .articlesSection {
      max-width: 100%;
    }
  }
  
  .adBanner {
    aspect-ratio: 3.72;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .sidebar {
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: stretch;
    width: 292px;
    min-width: 240px;
    font-family: Manrope, -apple-system, Roboto, Helvetica, sans-serif;
    display: flex;
  }
  
  .dividerImage {
    width: 100%;
    height: 1px;
    background: #202124;
    margin: 16px 0 0 0;
  }
  