.sidebarContainer {
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: stretch;
    width: 292px;
    min-width: 240px;
    font-family: Manrope, -apple-system, Roboto, Helvetica, sans-serif;
    display: flex;
  }
  
  .sidebarTitle {
    color: #1e1e1e;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }
  
  .cardWrapper {
    width: 365px;
    max-width: 100%;
    margin-top: 20px;
  }
  
  .promotionalCard {
    background-color: #202124;
    border-radius: 12px;
    width: 100%;
    min-height: 390px;
    padding: 24px;
    position: relative;
    overflow: hidden;
  }
  
  @media (width <= 991px) {
    .promotionalCard {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .cardContent {
    z-index: 0;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    display: flex;
  }
  
  .adLabel {
    color: #202124;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 4px;
    justify-content: center;
    align-self: start;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
  }
  
  @media (width <= 991px) {
    .adLabel {
      white-space: initial;
    }
  }
  
  .adIndicator {
    background-color: #e63946;
    border-radius: 4px;
    flex-shrink: 0;
    align-self: stretch;
    gap: 10px;
    width: 8px;
    height: 8px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  
  .adText {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .cardDescription {
    color: #fff;
    margin-top: 212px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 0;
  }
  
  @media (width <= 991px) {
    .cardDescription {
      margin-top: 40px;
    }
  }
  
  .cardImage {
    aspect-ratio: 1.01;
    object-fit: contain;
    object-position: center;
    z-index: 0;
    width: 393px;
    height: 398px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  