@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

input,
button,
textarea,
select {
  font-size: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

.sign-in {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 66.973px;
  /* 104.646% */
  letter-spacing: 3.349px;
  text-transform: capitalize;
}

.sign-up {
  padding: 20px;
  border-bottom: 1px solid black;
  font-size: 42px;
}

.ring {
  position: relative;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
} */

/* .ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
} */

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.login {
  background-color: #efeeec;
  height: 100%;
  max-width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login h2 {
  font-size: 2em;
  color: #fff;
}

.login {
  position: relative;
  width: 100%;
}

.login input {
  display: flex;
  height: 56px;
  padding: 14px 18px;
  align-items: center;
  gap: 18px;
  border-radius: var(--radius-controls-input-l, 14px);
  border: 1px solid var(--control-input-border, rgba(31, 31, 31, 0.20));
  background: #FFF;
  align-self: stretch;
}

.login input[type="submit"] {
  display: flex;
  height: 56px;
  padding: var(--spacing-global-200, 16px) var(--spacing-global-300, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-global-125, 10px);
  border: none;
  align-self: stretch;
  border-radius: 16px;
  width: 100%;
  background: var(--control-btnPrimary-bg, #FF5E00);
  overflow: hidden;
  color: var(--control-btnPrimary-content, #FFF);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.login input::placeholder {
  color: #9b9b9b;
}

.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login .links a {
  color: #9b9b9b;
  text-decoration: none;
}