.footerContainer {
    box-sizing: border-box;
    background-color: #061424;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 100px;
    padding: 24px 200px;
    display: flex;
  }
  
  .footerContent {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }
  
  .footerTitle {
    color: #fff;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 141%;
  }
  
  .footerNav {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    display: flex;
  }
  
  .footerNavList {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footerNavLink {
    color: #ffffff80;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 141%;
    text-decoration: none;
  }
  
  .footerDivider {
    background-color: #fff;
    width: 100%;
    height: 1px;
  }
  
  .footerBottom {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
  }
  
  .copyright {
    color: #fff;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 141%;
  }
  
  .backLink {
    color: #ffffff80;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 141%;
  }
  